.toolbar-header {
    // border: 1px solid grey;
    background-color: #165da5;
    height: 100px;
    width: 100%;
    display: inline-flex;
}

img {
    width: 75px;
    height: 75px;
}

.navbar {
    width: inherit;
    height: inherit;
    display: flex;
    //box-shadow: 0px 4px 3px 0px black;
    box-shadow: 0px 3px black, -0.1em 0 0.05em black;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 37px;
    margin-left: auto;
    margin-right: auto;
}

.menu-bar {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.diversineers {
    width: 100%;
    position: absolute;
    height: 59%;
    top: 122px;
    z-index: -3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.35;
}